body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    margin-left: 20px;
    font-size: 20px;
    color:white;
}

.navbar__menu{
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;

}

.navbar__menu li{
    padding: 8px 12px;
}

.navbar__menu li:hover{
    background: #f9c07f;
    border-radius: 20px;
}

.navbar__icon{
    margin-right: 20px;
    color:white;
    display: flex;
    padding: 0px;
}

.navbar__icon li{
    list-style: none;
    padding: 8px 4px;
}

.navbar__hamburger{
    position: absolute;
    list-style: none;
    color: white;
    right: 20px;
    display: none;
    font-size: 20px;
    padding: 4px 12px;
}

@media screen and (max-width: 768px){ /*@media media type and (media rule)*/
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icon {
        justify-content: center;
        width: 100%;
        display: none;
    }

    .navbar__hamburger {
        display: flex;
    }

    .navbar__menu.active {
        display: flex;
    }

    .navbar__icon.active {
        display: flex;
    }
}