body{
    background-color:#cd853f;
}

h1{
    color:rgb(255, 255, 255);
    transition: color 0.5s ease-in-out
}


.btn{
    cursor: pointer;
}

/* class 생성 */
.clicked{
    color:violet;
}

.form,
.greeting{
    display: none;
}

.showing{
    display: block;
} 